<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= usuario.foto %> " alt="">
                <div class="info-usuario">
                    <p><%= usuario.username %> </p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li><%= usuario.posteos %>  post</li>
                        <li><%= usuario.seguidores %> seguidores</li>
                        <li><%= usuario.seguidos %> seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for (let i =0;i<posteos.length;i++){ %> 
                <article class="post">
                    <a href="/posts/detallePost/<%= posteos[i].id %>">
                        <img class="post" src="<%= posteos[i].foto %>" alt="">
                    </a>
                </article>
                <% } %> 
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>