<!DOCTYPE html>

<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
   
    <main>
        <div class="post-detail container">
            <section class="center main-content post">
              <div class="info-usuario">
                    <img class="foto-usuario" src="<%= info.imagen %>  " alt="">
                    <p><a href="/users/detalleUsuario/<%= info.idUsuario %>  "><%= info.nombre %></a></p>
                </div>
                <img height="415px" class="photo" src="<%= info.foto %>  " alt=""> 
                <p class="letradetalle">  <i class="fa-solid fa-heart"></i></p>
                <p class="letradetalle1"></p>
            </section>
            
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        <% for (let i = 0; i < info.comentarios.length; i++) { %> 
                            <article class="comment">
                                <img class="imagenperfil" src="<%= info.comentarios[i].foto %>" alt="">
                                <section class="content">
                                    <a class="user" href="/users/detalleUsuario/<%= info.comentarios[i].idUsuario %>"><%= info.comentarios[i].usuario %></a>
                                    <span class="text"><%= info.comentarios[i].comentario %></span>
                                </section>
                            </article>
                        <% } %>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>