<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>

    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
            <% for (let i=0; i<posteos.length;i++){ %> 
                <% let post= posteos[i] %> 
            <article class="post">
                <div class="info-usuario ">
                    <img class="foto-usuario" src="<%= post.imagen %>  " alt="">
                    <h4>
                        <a href="/users/detalleUsuario/<%= post.idUsuario %> "> Kris Jenner </a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/posts/detallePost">
                        <img src="<%= post.foto %> " alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                        <% for( let j =0; j<post.comentarios.length;j++ ) { %>
                          <li>
                            <a href="/users/detalleUsuario/<%= post.comentarios[j].idUsuario %> "><%= post.comentarios[j].usuario %> </a>
                            <span><%= post.comentarios[j].comentario %> </span>
                        </li>
                        <% } %>
                        <a href="/posts/detallePost">Ver más...</a>
                    </ul>
                </div>
            </article>
            <% } %> 
           
        </section>    
    </main>

    <%- include('./partials/footer') %>

</body>

</html>