<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>

    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
            <% for (let i=0; i<posteos.length;i++){ %> 
                <% let post= posteos[i] %> 
            <article class="post">
                <div class="info-usuario ">
                    <img class="foto-usuario" src="/img/usuarios/<%= post.usuario.foto %>" alt="">
                    <h4>
                        <a href="/users/detalleUsuario/<%= post.usuario.id %> "> <%= post.usuario.username %> </a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/posts/detallePost/<%= post.id %>"> 
                        <img src="/img/posts/<%= post.foto %> " alt="">
                    </a>
                    <p style="margin-left: 20px">
                        <%= post.texto %>
                    </p>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h4>Comentarios</h4>
                    <ul>
                        <% for( let j =0; j<post.comentarios.length;j++ ) { %>
                            <li>
                                <a href="/users/detalleUsuario/<%= post.comentarios[j].comentador.id %> "><%= post.comentarios[j].comentador.username %> </a>
                                <span><%= post.comentarios[j].texto %> </span>
                            </li>
                        <% } %>
                        <a href="/posts/detallePost/<%= post.id %>">Ver más...</a>
                    </ul>
                </div>
            </article>
            <% } %> 
           
        </section>    
    </main>

    <%- include('./partials/footer') %>

</body>

</html>