<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="/img/usuarios/<%= usuario.foto %> " alt="">
                <div class="info-usuario">
                    <p><%= usuario.username %> </p> 
                    <a class="follow" href="/users/editarPerfil">Editar</a>
                    <ul class="meta">
                        <li><%= usuario.posteos.length %>  post</li>
                        <li><%= usuario.mis_usuarios_seguidores.length %> seguidores</li>
                        <li><%= usuario.mis_usuarios_seguidos.length %> seguidos</li>
                    </ul>
                </div>
            </section>

            <section class="bottom">
                <% for (let i =0;i< usuario.posteos.length ;i++){ %> 
                <article class="post">
                    <a href="/posts/detallePost/<%= usuario.posteos[i].id %>">
                        <img class="post" src="/img/posts/<%= usuario.posteos[i].foto %>" alt="">
                    </a>
                </article>
                <% } %> 
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>